@import 'base/variables';
*{
    font-family: 'Inter', sans-serif;
    color: white;
}
body{
    background: $bg-color;
    margin: 0 auto;
    overflow-x: clip;
}
h1{
    font-size: 128px;
    color: white;
    font-weight: 300;
}
h2{
    font-size: 64px;
    font-weight: 400;
}
h3{
    font-size: 48px;
}
p{
    font-size: 24px;
}
ul{
    list-style-type: none;
}
.container{
    margin: 0 auto;
}
@import 'base/mixins';
@import 'base/animations';




@import 'blocks/header';
@import 'blocks/services';
@import 'blocks/line';
@import 'blocks/team';
@import 'blocks/portfolio';
@import 'blocks/story';
@import 'blocks/info';
@import 'blocks/footer';