@import 'libs/slick.css';
@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

*{
    font-family: 'Inter', sans-serif;
    color: white;
}
html{
    font-size: calc(100vw / 1920 * 10);
    overflow-x: clip;
}
body{
    background: $bg-color;
    margin: 0 auto;
    overflow-x: clip;
}
p{
    font-size: 2.4rem;
}
ul{
    list-style-type: none;
}
.container{
    margin: 0 auto;
    width: 166rem;
}




@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/services';
@import 'blocks/line';
@import 'blocks/team';
@import 'blocks/portfolio';
@import 'blocks/story';
@import 'blocks/info';
@import 'blocks/footer';
@import 'base/media';