.header{
    margin: 0 auto;
    background: url('../img/bg/header.jpg')  center center/cover  no-repeat;
    max-width: 100%;
    padding-top: 5rem;
    padding-bottom: 4.2rem;
    &__nav{
        margin: 0 auto;
        max-width: 100%;
        background: #363636;
        border-radius: 4.8rem;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        gap: 10.9rem;
        &__logo{
            max-width: 23.2rem;
            max-height: 6.7rem;
        }
        &__button{
        background: #ABABAB;
        border-radius: 2rem;
        width: 36rem;
        height: 9rem;
        margin: 1.5rem 0;
        font-weight: 400;
        font-size: 3.2rem;
        color: black;
        transition: all 300ms;
        &:hover{
            background: $bg-color;
            color: black;
        }
        &:active{
            background: #AC922B;
            color: #D8D8D8;
        }
        }
    }
    &__container{
        margin: 0 auto;
    }
    &__list{
        display: flex;
        margin: 4rem 12.7rem auto auto;
        align-items: center;
        text-align: center;
        gap: 4.5rem;
        &__item{
            color: white;
            font-size: 3.2rem;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                color: $bg-color;
            }
        }
    }
    &__about{
        margin: 0 auto;
        min-height: 49rem;
        max-width: 124rem;
        background: rgba(54, 54, 54, 0.9);
        border-radius: 4.8rem;
        margin-top: 13rem;
        padding: 2.8rem 11.6rem 0 11.7rem;
        &__title{
            line-height: 15.5rem;
        }
        &__line{
            margin: 0 auto;
            width: calc(100%);
            height: 0;
            border: 0.1rem solid #FFFFFF;
            margin-top: 3.5rem;
        }
        &__text{
            margin-top: 3.5rem;
            text-align: left;
            font-weight: 300;
            line-height: 5.8rem;
            color: #FFFFFF;
        }
    }
    &__down{
        display: block;
        margin: 0 auto;
        border: none;
        background: none;
        margin-top: 18.7rem;
        max-width: 11.6rem;
        max-height: 12.2rem;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}