.info{
    margin-top: 4.4rem;
    padding: 0 13rem;
    &__container{
        padding: 6.5rem;
        width: 166rem;
        min-height: 113rem;
        background: rgba(54, 54, 54, 0.9);
        border-radius: 4.8rem;
        display: grid;
        grid-template: repeat(2, 49rem) / repeat(2, 70.2rem);
        gap: 2rem 12.6rem;
    }
    &__item{
        background: #393937;
        border-radius: 4.8rem;
        text-align: center;
        padding-top: 4.4rem;
    }
    &__contacts{
        grid-column: 1/2;
        grid-row: 1/2;
        &__title{
            margin-bottom: 5.6rem;
        }
        &__text{
            margin-top: 4.9rem;
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    color: $bg-color;
                    text-decoration: underline;
                }
            }
        }
    }
    &__order{
        grid-row: 1/3;
        &__form{
            margin-top: 14.1rem;
            &__input{
                padding: 3.9rem 3.6rem;
                margin: 0 auto;
                display: block;
                width: 58rem;
                height: 10.8rem;
                background: #D9D9D9;
                border-radius: 2.4rem;
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 2.9rem;
                color: #000000;
            }
            &__btn{
                display: block;
                margin: 0 auto;
                margin-top: 14rem;
                width: 57.5rem;
                height: 10.8rem;
                background: #FCD743;
                border-radius: 2.4rem;
                font-weight: 400;
                font-size: 4.8rem;
                line-height: 5.8rem;
                color: #000000;
                text-align: center;
                transition: all 300ms;
                &:hover{
                    background: #ABABAB;
                    color: black;
                }
            }
        }
    }
    &__social{
        &__links{
            margin: 0 auto;
            display: flex;
            gap: 3rem;
            align-items: center;
            justify-content: center;
            margin-top: 12.5rem;
        }
        &__link{
            max-width: 10rem;
            img{
                max-width: 100%;
            }
        }
    }
}