.portfolio{
    margin-top: 10rem;
    position: relative;
    &::after{
        content: '';
        display: block;
        background: url('../img/bg/mouse.svg') center/cover no-repeat;
        top: 0%;
        transform: translateY(-50%);
        width: 38.131rem;
        height: 61.4rem; 
        position: absolute;
        z-index: -1;
    }
    &__container{
        padding-top: 3rem;
        width: 166rem;
        background: rgba(54, 54, 54, 0.9);
        border-radius: 4.8rem;
        min-height: 85rem;
        padding-bottom: 6rem;
    }
    &__title{
        text-align: center;
        position: relative;
        &::after{
            position: absolute;
            left: 50%;
            top: calc(100% + 1.4rem);
            transform: translate(-50%, 50%);
            content: '';
            width: 153rem;
            height: 1.7rem;
            background: #FFD845;
            border-radius: 4.8rem;
        }
    }
    &__slider{
        margin-top: 7rem;
        padding: 2rem;
        &__item{
            padding: 2.5rem;
            width: 75rem;
            height: inherit;
            background: rgba(54, 54, 54, 0.9);
            border-radius: 4.8rem;
            &__photo{
                margin: 0 auto;
                max-width: 70rem;
                height: 40rem;
                background: #D9D9D9;
                border-radius: 4.8rem;
                img{
                    object-fit: cover;
                    object-position: center center;
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 4.8rem;
                }
            }
            &__project{
                margin-top: 3rem;
            }
            &__aim{
                margin-top: 3rem;
            }
        }
    }
}
.slick-next{
    border: none;
    background: none;
    width: 14.2rem;
    max-height: 2.8rem;
    img{
        width: 100%;
        max-height: 100%;
    }
}
.slick-prev{
    border: none;
    background: none;
    width: 14.2rem;
    max-height: 2.8rem;
    img{
        width: 100%;
        max-height: 100%;
    }
}
.slick-track{
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}
.arrows{
    margin: 0 auto;
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}