.services{
    &__container{
        max-width: 166rem;
        min-height: 41rem;
        background: rgba(54, 54, 54, 0.9);
        border-radius: 4.8rem;
        padding-top: 5rem;
    }
    &__title{
        line-height: 7.7rem;
        margin-left: 13.4rem;
        position: relative;
        &::after{
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 28.1rem;
            content: '';
            width: 118rem;
            height: 2rem;
            background: #FFD845;
            border-radius: 4.8rem;
        }
    }
    &__list{
        margin: 0 auto;
        display: flex;
        gap: 4.5rem;
        margin-top: 8rem;
        justify-content: center;
        &__item{
            display: flex;
            width: 35rem;
            max-height: fit-content;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 2.9rem;
            background: rgba(54, 54, 54, 0.9);
            border-radius: 4.8rem;
            padding: 6rem 0 6.1rem;
        }
    }
}