.story{
    margin-top: 10rem;
    padding: 0 13rem;
    &__container{
        width: 166rem;
        min-height: 89rem;
        background: rgba(54, 54, 54, 0.9);
        border-radius: 4.8rem;
        padding: 5.7rem 5.4rem 10.2rem 6.5rem;
    }
    &__title{
        font-weight: 400;
        line-height: 7.7rem;
        position: relative;
        &::after{
            display: block;
            position: absolute;
            content: '';
            width: 103rem;
            height: 1.7rem;
            left: 100%;
            transform: translateX(-100%);
            top: 50%;
            background: #FFD845;
            border-radius: 4.8rem;
        }
    }
    &__text{
        margin-top: 4.1rem;
        font-weight: 400;
        font-size: 3.4rem;
        line-height: 5.7rem;
        padding: 4rem 6.5rem;
        width: 154.1rem;
        min-height: 60rem;
        background: #393937;
        border-radius: 4.8rem;
    }
}