.story{
    margin-top: 100px;
    &__container{
        width: 1660px;
        height: 1130px;
        background: rgba(54, 54, 54, 0.9);
        border-radius: 48px;
        padding: 57px 54px 102px 65px;
    }
    &__title{
        font-weight: 400;
        line-height: 77px;
        position: relative;
        &::after{
            display: block;
            position: absolute;
            content: '';
            width: 1030px;
            height: 17px;
            left: 100%;
            transform: translateX(-100%);
            top: 50%;
            background: #FFD845;
            border-radius: 48px;
        }
    }
    &__text{
        margin-top: 41px;
        font-weight: 400;
        font-size: 64px;
        line-height: 77px;
        padding: 40px 65px;
        width: 1541px;
        height: 853px;
        background: #393937;
        border-radius: 48px;
    }
}