.team{
    margin-top: 5.1rem;
    padding: 0 13rem;
    &__container{
        max-width: 166rem;
        min-height: 41rem;
        background: rgba(54, 54, 54, 0.9);
        border-radius: 4.8rem;
        padding-top: 5rem;
        padding-bottom: 6.1rem;
    }
    &__title{
        text-align: right;
        line-height: 7.7rem;
        margin-right: 10.3rem;
        position: relative;
        &::after{
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 6.5rem;
            content: '';
            width: 118rem;
            height: 2rem;
            background: #FFD845;
            border-radius: 4.8rem;
        }
    }
    // .arrows{
    //     display: none;
    // }
    &__list{
        display: flex;
        padding: 2rem;
        .slick-slide{
            display: block;
            padding: 2.5rem;
        }
        &__item{
            display: block;
            padding: 2.5rem;
            max-width: 35rem;
            height: inherit;
            background: rgba(54, 54, 54, 0.9);
            border-radius: 4.8rem;
            &__photo{
                margin: 0 auto;
                width: 30rem;
                height: 30rem;
                background: #D9D9D9;
                border-radius: 4.8rem;
                img{
                    object-fit: cover;
                    object-position: center center;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 4.8rem;
                }
            }
            &__job, &__exp, &__name{
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.9rem;
                margin-top: 2rem;
            }
        }
    }
}