.team{
    margin-top: 5.1rem;
    padding: 0 13rem;
    &__container{
        max-width: 166rem;
        min-height: 41rem;
        background: rgba(54, 54, 54, 0.9);
        border-radius: 4.8rem;
        padding-top: 5rem;
        padding-bottom: 6.1rem;
    }
    &__title{
        text-align: right;
        line-height: 7.7rem;
        margin-right: 10.3rem;
        position: relative;
        &::after{
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 6.5rem;
            content: '';
            width: 118rem;
            height: 2rem;
            background: #FFD845;
            border-radius: 4.8rem;
        }
    }
    .arrows{
        display: none;
    }
    &__list{
        margin-top: 3.4rem;
        display: grid;
        grid-template: repeat(2, 45rem) / repeat(4, 35rem);
        grid-auto-rows: 45rem;
        row-gap: 4rem;
        grid-gap: 5rem;
        &__mobile{
            display: none;
        }
        &__item{
            padding: 2.5rem;
            width: 35rem;
            height: 45rem;
            background: rgba(54, 54, 54, 0.9);
            border-radius: 4.8rem;
            &__photo{
                margin: 0 auto;
                width: 30rem;
                height: 30rem;
                background: #D9D9D9;
                border-radius: 4.8rem;
                img{
                    object-fit: cover;
                    object-position: center center;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 4.8rem;
                }
            }
            &__job, &__exp{
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 2.9rem;
                margin-top: 2rem;
            }
        }
    }
}